<!DOCTYPE html>
<html>
<head>
  <title>poop</title>
  <link rel="stylesheet" type="text/css" href="./css/antijokes.css"> 
</head>
  
<body>
<%
  antijokes=["What did Batman say to Robin before they got into a car? Get in the car.", "What is the biggest lie in the entire universe? “I have read and agree to the Terms of Service.”","Why can't Tommy the T-rex clap? Because dinosaurs have been extinct for 65 million years.","Why was 6 afraid of 7? It wasn't. Numbers are sentient and thus are incapable of feeling fear.","Why was the little boy crying? Because there was a frog stapled to his face.","What is a pirate's favorite letter of the alphabet? None. Historians have suggested that most pirates woukd have been illiterate.","What do you call a man with a spade in his head? An ambulance.","Roses are grey, violets are grey, I am a dog.","What did Woody say to Buzz? A lot. There were 3 movies.","What are yellow, green, blue, red, and pink? Colors.","What’s green and has wheels? A dolphin. I lied about the wheels. I also lied about it being green. I lied about the whole thing.","Why can't Michael J. Fox draw a perfect circle? Because drawing a perfect circle is impossible for any human.", "What did the farmer say when he lost his tractor? 'Where's my tractor?", "What do you get when you put a vampire and a rabbit together? A vampire and a rabbit right next to each other."]%>
<!--   antijokes= {
    :Batman = ["What did Batman say to Robin before they got into a car?", "Get in the car."],
    :Lie = ["What is the biggest lie in the entire universe?", "'I have read and agree to the Terms of Service.'"],
    :Trex = ["Why can't Tommy the T-rex clap?", "Because dinosaurs have been extinct for 65 million years."],
    :Number = ["Why was 6 afraid of 7?", "It wasn't. Numbers are sentient and thus are incapable of feeling fear."],
    :Boy = ["Why was the little boy crying?", "Because there was a frog stapled to his face."],
    :Pirate = ["What is a pirate's favorite letter of the alphabet?", "None. Historians have suggested that most pirates woukd have been illiterate."],
    :Ambulance = ["What do you call a man with a spade in his head?", "An ambulance."],
    :Dog = ["Roses are grey, violets are grey, I am a dog."],
    :Toy = ["What did Woody say to Buzz?", "A lot. There were 3 movies."]
    :Colors = ["What are yellow, green, blue, red, and pink?", "Colors."],
    :Dolphin = ["What’s green and has wheels?", "A dolphin. I lied about the wheels. I also lied about it being green. I lied about the whole thing."],
    :Circle = ["Why can't Michael J. Fox draw a perfect circle?", "Because drawing a perfect circle is impossible for any human."],
    :Farmer = [ "What did the farmer say when he lost his tractor?", "'Where's my tractor?'"]
    }
h
   -->
<%=antijokes.sample%>
  </body>
</html>

<div style="text-align: center"> 
<a href="/antijokes" class=a>NEXT</a>
  <div class="divider"/>

 <a href="/" class=a>HOME</a>
  </div>