<!DOCTYPE html>
<html>
<head>
  <title>poop</title>
  <link rel="stylesheet" type="text/css" href="./css/comebacks.css"> 
</head>
  
<body>

<%
  comebacks=["Are you a firework because you’re really freaking loud and annoying!", "I’d wish you the best, but I am the best!", "I don’t know what makes you stupid, but it really works.", "I’ve been called worse by better.", "I’d slap you but that is animal abuse.", "If I throw a stick will you leave.", "Shut up, you will never be the man your mother was.", "You must have been born on a highway, that is where most accidents happen.", "Oh my god, it spoke!!!", "If your going to be a smartass, first you have to be smart, otherwise you’re just an ass.", "I googled “Who gives a crap?”. My name wasn’t in the search results.", "(If they roll their eyes) Keep rolling your eyes, maybe you will find a brain back there.", "Remember when I asked you for your opinion. YEP, ME NEITHER!", "I’m trying to see things from your point of view, but I can’t get my head that far up my ass.", "I could eat a bowl of alphabet soup and crap a better argument than yours.", "That's so funny. Last time I heard that I fell off my dinosaur."]%>
<%=comebacks.sample%>
  </body>
</html>

<div style="text-align: center"> 
<a href="/comebacks" class=a>NEXT</a>
<div class="divider"/>
 <a href="/" class=a>HOME</a>
  </div>

