<!DOCTYPE html>
<html>
<head>
  <title>poop</title>
  <link rel="stylesheet" type="text/css" href="./css/compliments.css"> 
</head>
  
<body> <%
  compliments= [
  "Your principal would call you to the office just to look cool.", 
    "Your roommate wants a lock of your hair but is afraid to ask.",
  "Your parents argue over which one of them you look like.",
    "The FBI tapped your phone just to hear the sound of your voice.",
  "Some dudes hope you start a band so they can start a cover band of that band.",
  "Your siblings are pissed that your photo is the star of your parent’s mantle.",
  "80% of motorcycle gangs think you’d be a delightful sidecar.",
  "You could open that jar of mayonnaise using only 3 fingers.",
  "You could make up a weird religion or diet and everyone would follow it.",
  "You are freakishly good at thumb wars.",
  "Your hair smells like freshly cut grass.",
  "Your sneezes sound like a chorus of angels giggling.",
  "You’re the best at making cereal.",
    "People behind you at the movies think you are the perfect height.",
    "Cockroaches, mice, and pets avoid your place out of respect.",
    "You are your parents' greatest accomplishment, unless they invented the spork.",
    "Coworkers fantasize about getting stuck in the elevator with you.",
    "Strangers all wanna sit next to you on the bus.",
    "People always think your jeggings are regular jeans.",
    "Your handshake conveys intelligence, confidence, and minor claminess.",
    "You remind everyone of kiwis- delicious and surprisingly fuzzy.",
    "Kids think you are the 'cool old person'."
    
    
  ]%>
<%=compliments.sample%>
</body>
</html>

<div style="text-align: center"> 
<a href="/compliments" class=a>NEXT</a>
<div class="divider"/>
  <a href="/" class=a>HOME</a>
  </div>

