<!DOCTYPE html>
<html>
<head>
  <title>Thought Bubble</title>
  <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>

<body>
<form action="/compliments" method="POST">
  <div id="compliments"><input type="submit" name="compliments" value="Compliments" class="btn btn-primary" ></div>
</form>

<form action="/" method="POST">
  <div id="title">
    <p> <strong>
      THOUGHT BUBBLE:</strong><br>We Generate Thoughts For You!</p>
  </div>
</form>
  
<form action="/comebacks" method="POST">
  <div id="comebacks"><input type="submit" name="comebacks" value="Comebacks" class="btn btn-primary" ></div>
</form> 
  
<form action="/puns" method="POST">
  <div id="puns"><input type="submit" name="puns" value="Puns" class="btn btn-primary" ></div>
</form> 

<form action="/pickuplines" method="POST">
  <div id="pickuplines"><input type="submit" name="pickuplines" value="Pick Up Lines" class="btn btn-primary" ></div>
</form> 
  
<form action="/antijokes" method="POST">
  <div id="antijokes"><input type="submit" name="antijokes" value="Anti-jokes" class="btn btn-primary" ></div>
</form> 
  
  
</body>
</html>