<!DOCTYPE html>
<html>
<head>
  <title>poop</title>
  <link rel="stylesheet" type="text/css" href="./css/pickups.css"> 
</head>
  
<body>
<%
  pickup_lines=["Did you sit in a pile of sugar? Cause you have a pretty sweet ass.","Are you a magician? Because whenever I look at you, everyone else disappears!", "Are you an interior decorator? Because when I saw you, the entire room became beautiful.", "Are you a camera? Because every time I look at you, I smile.", "Do you have a Band-Aid? Because I just scraped my knee falling for you.", "If you were a vegetable, you’d be a cute-cumber.", "I seem to have lost my phone number. Can I have yours?", "Are you a fruit, because Honeydew you know how fine you look right now?", "Are you a parking ticket? ‘Cause you’ve got fine written all over you.", "Forget about Spiderman, Superman, and Batman. I'll be your man.", "Can I follow you home? Cause my parents always told me to follow my dreams.", "You're so beautiful that you made me forget my pickup line.", "I was wondering if you had an extra heart mine seems to have been stolen.", "If I were a cat I'd spend all 9 lives with you.", "There is something wrong with my cell phone. It doesn't have your number in it.", "If you were a booger I'd pick you first.", "Did you fart, cause you blew me away.", "There's only one thing I want to change about you, and that's your last name.", "Is your name 'swiffer'? 'Cause you just swept me off my feet.", "Do you believe in love at first sight, or should I walk by again?", "If I could rearrange the alphabet, I would put 'U' and 'I' together.", "Are you my phone charger? Because without you, I'd die.", "If you were a tropical fruit, you'd be a Fine-apple!", "(hold out hand) Would you hold this for me while I go for a walk?", "You're like a dictionary, you add meaning to my life!", "Are you a beaver? Cause daaaaam!", "Let me tie your shoes, cause I don't want you falling for anyone else.", "Your hand looks heavy. Let me hold it for you.", "Are you a microwave oven? Cause you melt my heart.", "I'm lost. Can you tell me which road leads to your heart?", "Did you get your license suspended for driving so many guys crazy?", "Even if there wasn't gravity on earth, I'd still fall for you.", "Is your name Google? Because you have everything I’ve been searching for.", "Is your name Wi-fi? Because I’m really feeling the connection." "You had me at 'Hello World.'", "You’re so pretty, I wouldn’t even need to use an Instagram filter if I took your photo.", "You must be magical, because I’ve fallen under your spell.", "Do you like Harry Potter? Because I a-Dumbledore you!", "Our love is like dividing by zero...you cannot define it.", "My love for you is like an exponential curve - it’s unbounded.", "Honey, you’re sweeter than pi.", " Call me Pooh, because all I want is you, honey.", "Do you work at Starbucks? Because I like you a latte.", "Are you a banana? Because I find you a-peeling."] %>
<%=pickup_lines.sample%>
  </body>
</html>



<div style="text-align: center"> 
<a href="/pickups" class=a>NEXT</a>    
    <div class="divider"/>
 <a href="/" class=a>HOME</a>    
</div>

