<!DOCTYPE html>
<html>
<head>
  <title>poop</title>
  <link rel="stylesheet" type="text/css" href="./css/puns.css"> 
</head>
  
<body>
<%  
puns=["How did I escape Iraq? Iran.", "I don’t want to taco bout it", "How did I escape Iraq? Iran.", "I don’t want to taco bout it.", "Its nacho business.", "That dude was jalapeño business.", "My first job was putting nails on a board. I nailed it.", "I was wondering why the frisbee was getting bigger. Then it hit me.", "I say chemistry jokes periodically. I said one the other day. There was no reaction.", "I'm reading a book about anti-gravity. It's impossible to put down.", "I used to be a banker but I lost interest.", "I know its cheesy but I feel grate.", "Need an ark? I Noah guy.", "You have cat to be kitten me right now.", "How to organize a space party? You planet.", "The person who invented the door knock won the No-bell prize.", "I couldn't work out how to fasten my seatbelt. Then it clicked.", "Never trust atoms, they make up everything.", "If Apple made a car, would it have Windows?", "I have a few jokes about unemployed people. But it doesn't matter none of them work.", "How does Moses make his tea? Hebrews it.", "Why does Peter Pan always fly? Because he Neverlands.", "They should make a Minecraft movie, it would be a blockbuster.", "What do you call a fake noodle? An impasta.", "No more Harry Potter jokes guys, I'm Sirius.", "I used to have a fear of hurdles, but I got over it.", "To write with a broken pencil is pointless.", "I don't trust people with graph paper. They're always plotting something.", "I was going to tell a midget joke, but it's too short.", "I relish the fact that you've mustard the strength to ketchup to me.", "A bicycle can't stand on its own because it is always two-tired.", "I once heard a joke about amnesia, but I forgot how it goes.", "Which president was least guilty? Lincoln. He was in a cent."]
%>
<%=puns.sample%>
  </body>
</html>

<div style="text-align: center"> 
<a href="/puns" class=a>NEXT</a>
<div class="divider"/>
 <a href="/" class=a>HOME</a>
  </div>
